<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>TastyFanatic</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;700&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
  <div class="container px-md-5 bg-white shadow-lg">

    <header
      class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">


      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/" class="nav-link px-2 link-secondary">Home</a></li>
        <li><a href="/recipes" class="nav-link px-2 link-secondary">Recipes</a></li>
        <li><a href="/developer" class="nav-link px-2 link-secondary">Developer</a></li>        
        <% if (user) { %>
        <li><a href="/recipes/new" class="nav-link px-2 link-secondary">Submit</a></li>

        <a href="/logout" class="nav-link px-2 link-secondary">LOG OUT</a>
        <% } else { %>
          <li><a href="/auth/google" class="nav-link px-2 link-secondary"><img id="image" src="https://i.imgur.com/FHjYyi0.png"></a></li>
        </ul>
        <% } %>
      



    </header>