<%- include('../partials/header') %>

<div
  id="header"
  class="row flex-lg-row-reverse align-items-center g-5 py-4 mb-4"
>
  <div class="col-12 col-lg-6">
    <p class="lead">
     <br><br> Hello fellow chef,<br/>I am Artin... <br> Full Stack software engineer <br> located in Los Angeles, Ca
    </p>
    <a href="https://www.linkedin.com/in/artin-simonian/" target="_blank"><img src="/images/linkedin.png" alt="LinkedIn"></a>
    <a href="https://github.com/Artin-Simonian" target="_blank"><img src="/images/git.png" alt="GitHub"></a>
  </div>
  <div id="hero-image" class="cold-12 col-lg-6">
    <img
      src="/images/artin.png"
      width="400"
      height="300"
      class="d-block mx-lg-auto img-fluid"
      loading="lazy"
    />
  </div>
</div>



<%- include('../partials/footer') %>