<%- include('../partials/header') %>
  <div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Recipes</h1>
  </div>
<a href="/recipes/<%= recipe._id %>"><%= recipe.name %>
  <section id="recipes">
    
    <h1><% recipe.name %></h1>
    <p><% recipe.description %></p>
    <p><% recipe.ingredients %></p>
    </a>

  </section>
  <%- include('../partials/footer') %>