:root {
  --bs-font-sans-serif: "Roboto", sans-serif;
}

.container-xxl {
  max-width: 1530px;
}

body {
  background-image: url("https://i.imgur.com/zqtBK0J.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

a {
  color: var(--bs-dark);
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}

#hero-image > img {
  border-radius: 20%;
}

.category__link {
  text-align: center;
  display: block;
  text-decoration: none;
  transition: 250ms all;
}

.category__link:hover {
  transform: scale(1.1);
}

.category__img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  border-radius: 10px;
}

.category__img img {
  width: 100%;
  object-fit: cover;
}

footer a {
  text-decoration: none;
}

footer {
  text-align: center;
}

#header h1 {
  font-size: 5rem;
}

#header p {
  font-size: 2rem;
}

nav a {
  text-decoration: none;
  color: #000;
}

nav a:hover {
  color: blue;
}

nav li {
  list-style: none;
  display: inline;
}

#image{
  height: 25px
}

thead tr{
  font-size: 20px;
}

td{
  text-align: center;
}
