:root{
    --bs-font-sans-serif: 'Roboto', sans-serif;
}

.container-xxl{
    max-width: 1530px;
}

body{
    background-image: url('https://i.imgur.com/zqtBK0J.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

a {
    color: var(--bs-dark);
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 34px;
  }
  
  .login  img {
    height: 30px;
  }