<table id="list">
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% recipes.forEach(function(m) { %>
      <tr>
        <td><%= m.name %></td>
        <td><a href="/recipes/<%= m._id %>">DETAILS</a></td>
      </tr>
      <% }); %>
    </tbody>
  </table>