<%- include('../partials/header') %>
  <div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Recipes</h1>
  </div>
<table>
  <tbody>
    <% recipes.forEach(function(m) { %>
      <tr>
        <td><%= m.name %></td>
      </tr>
      <% }); %>
    </tbody>
  </table>
 
  <%- include('../partials/footer') %>